configuration {
  show-icons:         true;
  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "apps";
  columns: 2;
}
@import "/home/josh/.config/rofi/themes/appsmenu.rasi"
